h1 {
    font-family: 'Times New Roman', Times, serif;
    color: coral;
}

#otherh1 {
    color: cadetblue;
}

.redtings {
    color: crimson;
}

body {
    background-color: rgb(170,250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1000;
    height: 1000;
}